<footer class="bk-footer">
  <div class="bk-footer-logo">
    <img src="logo.png" alt="Burger King Logo" />
  </div>
  <div class="bk-footer-columns">
    <div class="bk-footer-col">
      <h4>EXPLORAR</h4>
      <ul>
        <li><a href="#">INICIO</a></li>
        <li><a href="#">SOBRE NOSOTROS</a></li>
        <li><a href="#">PRODUCTOS</a></li>
        <li><a href="#">TIENDAS</a></li>
      </ul>
    </div>
    <div class="bk-footer-col">
      <h4>NUESTRO&nbsp; CHEF DICE</h4>
      <p>
        Cada plato es una oportunidad para contar una historia.<br>
        No cocines por obligación, cocina con pasión, porque el sabor empieza en el corazón
      </p>
    </div>
    <div class="bk-footer-col">
      <h4>REDES</h4>
      <ul class="bk-footer-social">
        <li>
          <span class="bk-footer-icon email"></span>
          burgerking@contacto
        </li>
        <li>
          <span class="bk-footer-icon facebook"></span>
          burgerkingofficial
        </li>
      </ul>
    </div>
  </div>
</footer>