<meta name="org:description" content="Pagina de Burger King">

<meta property="og:title" content="Hamburguesas Burger King">
<meta property="og:description" content="En esta pagina encontraras nuestros productos y más información sobre nosotros">
<meta property="og:image" content="https://wallpapers.com/images/hd/burger-king-fiery-logo-vxu6h66cdlv86kfb.jpg">
<meta property="og:url" content="https://burger-king-example.vercel.app"> <!-- Reemplaza con tu URL real -->
<header class="bk-header">
  <img src="logo.png" alt="Burger King Logo" class="bk-logo" />
  <nav>
    <ul>
      <li><a href="home">Inicio</a></li>
      <li><a href="about-us">Sobre nosotros</a></li>
      <li><a href="products">Productos</a></li>
      <li><a href="shop">Tiendas</a></li>
    </ul>
  </nav>
</header>
